###############################################################################
# Visual Studio / .NET
###############################################################################
# Build output
bin/
obj/
artifacts/
publish/

# Visual Studio working files
.vs/
*.user
*.suo
*.vcxproj.user
*.sln.docstates

# VS Code, Rider & JetBrains
.vscode/
.idea/

# NuGet
*.nupkg
*.snupkg
*.nuspec
.nuget/

# Logs, database & temp
*.log
*.tlog
*.tmp
*.bak
*.dbmdl

# Test & coverage
TestResults/
*.coverage
*.coveragexml

# Tye (local micro-services orchestrator)
.tye/

# Ignore everything generated into **any** Debug/Release folders
[Dd]ebug*/
[Rr]elease*/
